@model VetTest.Models.MyUserModel

@{ var myusers = Model.MyUsers.FirstOrDefault();}
@{ var appusers = Model.ApplicationUsers;}

@*<h3>@appusers.Where(u => u.Email == "123@123.pl").FirstOrDefault().Email</h3>
*@
<h1 class="display-5 mb-6 text-center">Użytkownicy</h1>

<div class="jumbotron">
    <table class="table bg-trans">
        <tr>
            <th>
                @Html.DisplayNameFor(model => myusers.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => myusers.Email)
            </th>
            <th>Actions</th>
        </tr>

        @foreach (var item in Model.MyUsers)
        {
@*            var usr = appusers.Where(u => u.Email == item.Email).FirstOrDefault();
*@@**@            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.ActionLink(" ", "Advance", new { id = item.MyUserID }, new { @class = "glyphicon glyphicon-chevron-up" }) |
                    @Html.ActionLink(" ", "Edit", new { id = item.MyUserID }, new { @class = "glyphicon glyphicon-pencil" }) |
                    @Html.ActionLink(" ", null, null, new { id = item.MyUserID }, new
                    {
                        href = "#deleteMyUserModal",
                        data_toggle = "modal",
                   @onClick = "ConfirmDelete(" + item.MyUserID + ")",
                        @class = "glyphicon glyphicon-remove"
                    })
                </td>
            </tr>
        }

    </table>
    @using (Html.BeginForm("Index", "MyUsers", FormMethod.Get))
    {
        <div class="form-inline">
            @Html.TextBox("Search", null, new { @class = "form-control" })
            <input type="submit" class="btn btn-primary btn-sm" value="Search">
        </div>
    }
</div>

<!--Delete Modal HTML-->
@using (Html.BeginForm("DeleteConfirmed", "MyUsers", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div id="deleteMyUserModal" class="modal fade">
        @Html.Hidden("MyUserID")
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Delete User</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete these Records?</p>
                    <p class="text-warning"><small>This action cannot be undone.</small></p>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                    <input type="submit" class="btn btn-danger" value="Delete">
                </div>
            </div>
        </div>
    </div>
}


@section scripts{
    <script>
        var ConfirmDelete = function (MyUserID) {
            $("#MyUserID").val(MyUserID);
        }
    </script>
}